{% extends 'back/base.html' %}
{% block content %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Icons</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            All available icons (font-awesome)
                        </div>
                        <i class="fa fa-calendar"> </i>
                        </form>
                        
                        <div class="panel-body">
                            <div class="row">
                                <div class="fa col-lg-3">
                                    <p class="fa fa-glass"> fa-glass </p>
                                    <br/>
                                    <p class="fa fa-music"> fa-music </p>
                                    <br/>
                                    <p class="fa fa-search"> fa-search </p>
                                    <br/>
                                    <p class="fa fa-envelope-o"> fa-envelope-o </p>
                                    <br/>
                                    <p class="fa fa-heart"> fa-heart </p>
                                    <br/>
                                    <p class="fa fa-star"> fa-star </p>
                                    <br/>
                                    <p class="fa fa-star-o"> fa-star-o </p>
                                    <br/>
                                    <p class="fa fa-user"> fa-user </p>
                                    <br/>
                                    <p class="fa fa-film"> fa-film </p>
                                    <br/>
                                    <p class="fa fa-th-large"> fa-th-large </p>
                                    <br/>
                                    <p class="fa fa-th"> fa-th </p>
                                    <br/>
                                    <p class="fa fa-th-list"> fa-th-list </p>
                                    <br/>
                                    <p class="fa fa-check"> fa-check </p>
                                    <br/>
                                    <p class="fa fa-times"> fa-times </p>
                                    <br/>
                                    <p class="fa fa-search-plus"> fa-search-plus </p>
                                    <br/>
                                    <p class="fa fa-search-minus"> fa-search-minus </p>
                                    <br/>
                                    <p class="fa fa-power-off"> fa-power-off </p>
                                    <br/>
                                    <p class="fa fa-signal"> fa-signal </p>
                                    <br/>
                                    <p class="fa fa-gear"> fa-gear </p>
                                    <br/>
                                    <p class="fa fa-cog"> fa-cog </p>
                                    <br/>
                                    <p class="fa fa-trash-o"> fa-trash-o </p>
                                    <br/>
                                    <p class="fa fa-home"> fa-home </p>
                                    <br/>
                                    <p class="fa fa-file-o"> fa-file-o </p>
                                    <br/>
                                    <p class="fa fa-clock-o"> fa-clock-o </p>
                                    <br/>
                                    <p class="fa fa-road"> fa-road </p>
                                    <br/>
                                    <p class="fa fa-download"> fa-download </p>
                                    <br/>
                                    <p class="fa fa-arrow-circle-o-down"> fa-arrow-circle-o-down </p>
                                    <br/>
                                    <p class="fa fa-arrow-circle-o-up"> fa-arrow-circle-o-up </p>
                                    <br/>
                                    <p class="fa fa-inbox"> fa-inbox </p>
                                    <br/>
                                    <p class="fa fa-play-circle-o"> fa-play-circle-o </p>
                                    <br/>
                                    <p class="fa fa-rotate-right"> fa-rotate-right </p>
                                    <br/>
                                    <p class="fa fa-repeat"> fa-repeat </p>
                                    <br/>
                                    <p class="fa fa-refresh"> fa-refresh </p>
                                    <br/>
                                    <p class="fa fa-list-alt"> fa-list-alt </p>
                                    <br/>
                                    <p class="fa fa-lock"> fa-lock </p>
                                    <br/>
                                    <p class="fa fa-flag"> fa-flag </p>
                                    <br/>
                                    <p class="fa fa-headphones"> fa-headphones </p>
                                    <br/>
                                    <p class="fa fa-volume-off"> fa-volume-off </p>
                                    <br/>
                                    <p class="fa fa-volume-down"> fa-volume-down </p>
                                    <br/>
                                    <p class="fa fa-volume-up"> fa-volume-up </p>
                                    <br/>
                                    <p class="fa fa-qrcode"> fa-qrcode </p>
                                    <br/>
                                    <p class="fa fa-barcode"> fa-barcode </p>
                                    <br/>
                                    <p class="fa fa-tag"> fa-tag </p>
                                    <br/>
                                    <p class="fa fa-tags"> fa-tags </p>
                                    <br/>
                                    <p class="fa fa-book"> fa-book </p>
                                    <br/>
                                    <p class="fa fa-bookmark"> fa-bookmark </p>
                                    <br/>
                                    <p class="fa fa-print"> fa-print </p>
                                    <br/>
                                    <p class="fa fa-camera"> fa-camera </p>
                                    <br/>
                                    <p class="fa fa-font"> fa-font </p>
                                    <br/>
                                    <p class="fa fa-bold"> fa-bold </p>
                                    <br/>
                                    <p class="fa fa-italic"> fa-italic </p>
                                    <br/>
                                    <p class="fa fa-text-height"> fa-text-height </p>
                                    <br/>
                                    <p class="fa fa-text-width"> fa-text-width </p>
                                    <br/>
                                    <p class="fa fa-align-left"> fa-align-left </p>
                                    <br/>
                                    <p class="fa fa-align-center"> fa-align-center </p>
                                    <br/>
                                    <p class="fa fa-align-right"> fa-align-right </p>
                                    <br/>
                                    <p class="fa fa-align-justify"> fa-align-justify </p>
                                    <br/>
                                    <p class="fa fa-list"> fa-list </p>
                                    <br/>
                                    <p class="fa fa-dedent"> fa-dedent </p>
                                    <br/>
                                    <p class="fa fa-outdent"> fa-outdent </p>
                                    <br/>
                                    <p class="fa fa-indent"> fa-indent </p>
                                    <br/>
                                    <p class="fa fa-video-camera"> fa-video-camera </p>
                                    <br/>
                                    <p class="fa fa-photo"> fa-photo </p>
                                    <br/>
                                    <p class="fa fa-image"> fa-image </p>
                                    <br/>
                                    <p class="fa fa-picture-o"> fa-picture-o </p>
                                    <br/>
                                    <p class="fa fa-pencil"> fa-pencil </p>
                                    <br/>
                                    <p class="fa fa-map-marker"> fa-map-marker </p>
                                    <br/>
                                    <p class="fa fa-adjust"> fa-adjust </p>
                                    <br/>
                                    <p class="fa fa-tint"> fa-tint </p>
                                    <br/>
                                    <p class="fa fa-edit"> fa-edit </p>
                                    <br/>
                                    <p class="fa fa-pencil-square-o"> fa-pencil-square-o </p>
                                    <br/>
                                    <p class="fa fa-share-square-o"> fa-share-square-o </p>
                                    <br/>
                                    <p class="fa fa-check-square-o"> fa-check-square-o </p>
                                    <br/>
                                    <p class="fa fa-arrows"> fa-arrows </p>
                                    <br/>
                                    <p class="fa fa-step-backward"> fa-step-backward </p>
                                    <br/>
                                    <p class="fa fa-fast-backward"> fa-fast-backward </p>
                                    <br/>
                                    <p class="fa fa-backward"> fa-backward </p>
                                    <br/>
                                    <p class="fa fa-play"> fa-play </p>
                                    <br/>
                                    <p class="fa fa-pause"> fa-pause </p>
                                    <br/>
                                    <p class="fa fa-stop"> fa-stop </p>
                                    <br/>
                                    <p class="fa fa-forward"> fa-forward </p>
                                    <br/>
                                    <p class="fa fa-fast-forward"> fa-fast-forward </p>
                                    <br/>
                                    <p class="fa fa-step-forward"> fa-step-forward </p>
                                    <br/>
                                    <p class="fa fa-eject"> fa-eject </p>
                                    <br/>
                                    <p class="fa fa-chevron-left"> fa-chevron-left </p>
                                    <br/>
                                    <p class="fa fa-chevron-right"> fa-chevron-right </p>
                                    <br/>
                                    <p class="fa fa-plus-circle"> fa-plus-circle </p>
                                    <br/>
                                    <p class="fa fa-minus-circle"> fa-minus-circle </p>
                                    <br/>
                                    <p class="fa fa-times-circle"> fa-times-circle </p>
                                    <br/>
                                    <p class="fa fa-check-circle"> fa-check-circle </p>
                                    <br/>
                                    <p class="fa fa-question-circle"> fa-question-circle </p>
                                    <br/>
                                    <p class="fa fa-info-circle"> fa-info-circle </p>
                                    <br/>
                                    <p class="fa fa-crosshairs"> fa-crosshairs </p>
                                    <br/>
                                    <p class="fa fa-times-circle-o"> fa-times-circle-o </p>
                                    <br/>
                                    <p class="fa fa-check-circle-o"> fa-check-circle-o </p>
                                    <br/>
                                    <p class="fa fa-ban"> fa-ban </p>
                                    <br/>
                                    <p class="fa fa-arrow-left"> fa-arrow-left </p>
                                    <br/>
                                    <p class="fa fa-arrow-right"> fa-arrow-right </p>
                                    <br/>
                                    <p class="fa fa-arrow-up"> fa-arrow-up </p>
                                    <br/>
                                    <p class="fa fa-arrow-down"> fa-arrow-down </p>
                                    <br/>
                                    <p class="fa fa-mail-forward"> fa-mail-forward </p>
                                    <br/>
                                    <p class="fa fa-share"> fa-share </p>
                                    <br/>
                                    <p class="fa fa-expand"> fa-expand </p>
                                    <br/>
                                    <p class="fa fa-compress"> fa-compress </p>
                                    <br/>
                                    <p class="fa fa-plus"> fa-plus </p>
                                    <br/>
                                    <p class="fa fa-minus"> fa-minus </p>
                                    <br/>
                                    <p class="fa fa-asterisk"> fa-asterisk </p>
                                    <br/>
                                    <p class="fa fa-exclamation-circle"> fa-exclamation-circle </p>
                                    <br/>
                                    <p class="fa fa-gift"> fa-gift </p>
                                    <br/>
                                    <p class="fa fa-leaf"> fa-leaf </p>
                                    <br/>
                                    <p class="fa fa-fire"> fa-fire </p>
                                    <br/>
                                    <p class="fa fa-eye"> fa-eye </p>
                                    <br/>
                                    <p class="fa fa-eye-slash"> fa-eye-slash </p>
                                    <br/>
                                    <p class="fa fa-warning"> fa-warning </p>
                                    <br/>
                                    <p class="fa fa-exclamation-triangle"> fa-exclamation-triangle </p>
                                    <br/>
                                    <p class="fa fa-plane"> fa-plane </p>
                                    <br/>
                                    <p class="fa fa-calendar"> fa-calendar </p>
                                    <br/>
                                    <p class="fa fa-random"> fa-random </p>
                                    <br/>
                                    <p class="fa fa-comment"> fa-comment </p>
                                    <br/>
                                    <p class="fa fa-magnet"> fa-magnet </p>
                                    <br/>
                                    <p class="fa fa-chevron-up"> fa-chevron-up </p>
                                    <br/>
                                    <p class="fa fa-chevron-down"> fa-chevron-down </p>
                                    <br/>
                                    <p class="fa fa-retweet"> fa-retweet </p>
                                    <br/>
                                    <p class="fa fa-shopping-cart"> fa-shopping-cart </p>
                                    <br/>
                                    <p class="fa fa-folder"> fa-folder </p>
                                    <br/>
                                    <p class="fa fa-folder-open"> fa-folder-open </p>
                                    <br/>
                                </div>
                                <div class="fa col-lg-3">
                                    <p class="fa fa-arrows-v"> fa-arrows-v </p>
                                    <br/>
                                    <p class="fa fa-arrows-h"> fa-arrows-h </p>
                                    <br/>
                                    <p class="fa fa-bar-chart-o"> fa-bar-chart-o </p>
                                    <br/>
                                    <p class="fa fa-twitter-square"> fa-twitter-square </p>
                                    <br/>
                                    <p class="fa fa-facebook-square"> fa-facebook-square </p>
                                    <br/>
                                    <p class="fa fa-camera-retro"> fa-camera-retro </p>
                                    <br/>
                                    <p class="fa fa-key"> fa-key </p>
                                    <br/>
                                    <p class="fa fa-gears"> fa-gears </p>
                                    <br/>
                                    <p class="fa fa-cogs"> fa-cogs </p>
                                    <br/>
                                    <p class="fa fa-comments"> fa-comments </p>
                                    <br/>
                                    <p class="fa fa-thumbs-o-up"> fa-thumbs-o-up </p>
                                    <br/>
                                    <p class="fa fa-thumbs-o-down"> fa-thumbs-o-down </p>
                                    <br/>
                                    <p class="fa fa-star-half"> fa-star-half </p>
                                    <br/>
                                    <p class="fa fa-heart-o"> fa-heart-o </p>
                                    <br/>
                                    <p class="fa fa-sign-out"> fa-sign-out </p>
                                    <br/>
                                    <p class="fa fa-linkedin-square"> fa-linkedin-square </p>
                                    <br/>
                                    <p class="fa fa-thumb-tack"> fa-thumb-tack </p>
                                    <br/>
                                    <p class="fa fa-external-link"> fa-external-link </p>
                                    <br/>
                                    <p class="fa fa-sign-in"> fa-sign-in </p>
                                    <br/>
                                    <p class="fa fa-trophy"> fa-trophy </p>
                                    <br/>
                                    <p class="fa fa-github-square"> fa-github-square </p>
                                    <br/>
                                    <p class="fa fa-upload"> fa-upload </p>
                                    <br/>
                                    <p class="fa fa-lemon-o"> fa-lemon-o </p>
                                    <br/>
                                    <p class="fa fa-phone"> fa-phone </p>
                                    <br/>
                                    <p class="fa fa-square-o"> fa-square-o </p>
                                    <br/>
                                    <p class="fa fa-bookmark-o"> fa-bookmark-o </p>
                                    <br/>
                                    <p class="fa fa-phone-square"> fa-phone-square </p>
                                    <br/>
                                    <p class="fa fa-twitter"> fa-twitter </p>
                                    <br/>
                                    <p class="fa fa-facebook"> fa-facebook </p>
                                    <br/>
                                    <p class="fa fa-github"> fa-github </p>
                                    <br/>
                                    <p class="fa fa-unlock"> fa-unlock </p>
                                    <br/>
                                    <p class="fa fa-credit-card"> fa-credit-card </p>
                                    <br/>
                                    <p class="fa fa-rss"> fa-rss </p>
                                    <br/>
                                    <p class="fa fa-hdd-o"> fa-hdd-o </p>
                                    <br/>
                                    <p class="fa fa-bullhorn"> fa-bullhorn </p>
                                    <br/>
                                    <p class="fa fa-bell"> fa-bell </p>
                                    <br/>
                                    <p class="fa fa-certificate"> fa-certificate </p>
                                    <br/>
                                    <p class="fa fa-hand-o-right"> fa-hand-o-right </p>
                                    <br/>
                                    <p class="fa fa-hand-o-left"> fa-hand-o-left </p>
                                    <br/>
                                    <p class="fa fa-hand-o-up"> fa-hand-o-up </p>
                                    <br/>
                                    <p class="fa fa-hand-o-down"> fa-hand-o-down </p>
                                    <br/>
                                    <p class="fa fa-arrow-circle-left"> fa-arrow-circle-left </p>
                                    <br/>
                                    <p class="fa fa-arrow-circle-right"> fa-arrow-circle-right </p>
                                    <br/>
                                    <p class="fa fa-arrow-circle-up"> fa-arrow-circle-up </p>
                                    <br/>
                                    <p class="fa fa-arrow-circle-down"> fa-arrow-circle-down </p>
                                    <br/>
                                    <p class="fa fa-globe"> fa-globe </p>
                                    <br/>
                                    <p class="fa fa-wrench"> fa-wrench </p>
                                    <br/>
                                    <p class="fa fa-tasks"> fa-tasks </p>
                                    <br/>
                                    <p class="fa fa-filter"> fa-filter </p>
                                    <br/>
                                    <p class="fa fa-briefcase"> fa-briefcase </p>
                                    <br/>
                                    <p class="fa fa-arrows-alt"> fa-arrows-alt </p>
                                    <br/>
                                    <p class="fa fa-group"> fa-group </p>
                                    <br/>
                                    <p class="fa fa-users"> fa-users </p>
                                    <br/>
                                    <p class="fa fa-chain"> fa-chain </p>
                                    <br/>
                                    <p class="fa fa-link"> fa-link </p>
                                    <br/>
                                    <p class="fa fa-cloud"> fa-cloud </p>
                                    <br/>
                                    <p class="fa fa-flask"> fa-flask </p>
                                    <br/>
                                    <p class="fa fa-cut"> fa-cut </p>
                                    <br/>
                                    <p class="fa fa-scissors"> fa-scissors </p>
                                    <br/>
                                    <p class="fa fa-copy"> fa-copy </p>
                                    <br/>
                                    <p class="fa fa-files-o"> fa-files-o </p>
                                    <br/>
                                    <p class="fa fa-paperclip"> fa-paperclip </p>
                                    <br/>
                                    <p class="fa fa-save"> fa-save </p>
                                    <br/>
                                    <p class="fa fa-floppy-o"> fa-floppy-o </p>
                                    <br/>
                                    <p class="fa fa-square"> fa-square </p>
                                    <br/>
                                    <p class="fa fa-navicon"> fa-navicon </p>
                                    <br/>
                                    <p class="fa fa-reorder"> fa-reorder </p>
                                    <br/>
                                    <p class="fa fa-bars"> fa-bars </p>
                                    <br/>
                                    <p class="fa fa-list-ul"> fa-list-ul </p>
                                    <br/>
                                    <p class="fa fa-list-ol"> fa-list-ol </p>
                                    <br/>
                                    <p class="fa fa-strikethrough"> fa-strikethrough </p>
                                    <br/>
                                    <p class="fa fa-underline"> fa-underline </p>
                                    <br/>
                                    <p class="fa fa-table"> fa-table </p>
                                    <br/>
                                    <p class="fa fa-magic"> fa-magic </p>
                                    <br/>
                                    <p class="fa fa-truck"> fa-truck </p>
                                    <br/>
                                    <p class="fa fa-pinterest"> fa-pinterest </p>
                                    <br/>
                                    <p class="fa fa-pinterest-square"> fa-pinterest-square </p>
                                    <br/>
                                    <p class="fa fa-google-plus-square"> fa-google-plus-square </p>
                                    <br/>
                                    <p class="fa fa-google-plus"> fa-google-plus </p>
                                    <br/>
                                    <p class="fa fa-money"> fa-money </p>
                                    <br/>
                                    <p class="fa fa-caret-down"> fa-caret-down </p>
                                    <br/>
                                    <p class="fa fa-caret-up"> fa-caret-up </p>
                                    <br/>
                                    <p class="fa fa-caret-left"> fa-caret-left </p>
                                    <br/>
                                    <p class="fa fa-caret-right"> fa-caret-right </p>
                                    <br/>
                                    <p class="fa fa-columns"> fa-columns </p>
                                    <br/>
                                    <p class="fa fa-unsorted"> fa-unsorted </p>
                                    <br/>
                                    <p class="fa fa-sort"> fa-sort </p>
                                    <br/>
                                    <p class="fa fa-sort-down"> fa-sort-down </p>
                                    <br/>
                                    <p class="fa fa-sort-desc"> fa-sort-desc </p>
                                    <br/>
                                    <p class="fa fa-sort-up"> fa-sort-up </p>
                                    <br/>
                                    <p class="fa fa-sort-asc"> fa-sort-asc </p>
                                    <br/>
                                    <p class="fa fa-envelope"> fa-envelope </p>
                                    <br/>
                                    <p class="fa fa-linkedin"> fa-linkedin </p>
                                    <br/>
                                    <p class="fa fa-rotate-left"> fa-rotate-left </p>
                                    <br/>
                                    <p class="fa fa-undo"> fa-undo </p>
                                    <br/>
                                    <p class="fa fa-legal"> fa-legal </p>
                                    <br/>
                                    <p class="fa fa-gavel"> fa-gavel </p>
                                    <br/>
                                    <p class="fa fa-dashboard"> fa-dashboard </p>
                                    <br/>
                                    <p class="fa fa-tachometer"> fa-tachometer </p>
                                    <br/>
                                    <p class="fa fa-comment-o"> fa-comment-o </p>
                                    <br/>
                                    <p class="fa fa-comments-o"> fa-comments-o </p>
                                    <br/>
                                    <p class="fa fa-flash"> fa-flash </p>
                                    <br/>
                                    <p class="fa fa-bolt"> fa-bolt </p>
                                    <br/>
                                    <p class="fa fa-sitemap"> fa-sitemap </p>
                                    <br/>
                                    <p class="fa fa-umbrella"> fa-umbrella </p>
                                    <br/>
                                    <p class="fa fa-paste"> fa-paste </p>
                                    <br/>
                                    <p class="fa fa-clipboard"> fa-clipboard </p>
                                    <br/>
                                    <p class="fa fa-lightbulb-o"> fa-lightbulb-o </p>
                                    <br/>
                                    <p class="fa fa-exchange"> fa-exchange </p>
                                    <br/>
                                    <p class="fa fa-cloud-download"> fa-cloud-download </p>
                                    <br/>
                                    <p class="fa fa-cloud-upload"> fa-cloud-upload </p>
                                    <br/>
                                    <p class="fa fa-user-md"> fa-user-md </p>
                                    <br/>
                                    <p class="fa fa-stethoscope"> fa-stethoscope </p>
                                    <br/>
                                    <p class="fa fa-suitcase"> fa-suitcase </p>
                                    <br/>
                                    <p class="fa fa-bell-o"> fa-bell-o </p>
                                    <br/>
                                    <p class="fa fa-coffee"> fa-coffee </p>
                                    <br/>
                                    <p class="fa fa-cutlery"> fa-cutlery </p>
                                    <br/>
                                    <p class="fa fa-file-text-o"> fa-file-text-o </p>
                                    <br/>
                                    <p class="fa fa-building-o"> fa-building-o </p>
                                    <br/>
                                    <p class="fa fa-hospital-o"> fa-hospital-o </p>
                                    <br/>
                                    <p class="fa fa-ambulance"> fa-ambulance </p>
                                    <br/>
                                    <p class="fa fa-medkit"> fa-medkit </p>
                                    <br/>
                                    <p class="fa fa-fighter-jet"> fa-fighter-jet </p>
                                    <br/>
                                    <p class="fa fa-beer"> fa-beer </p>
                                    <br/>
                                    <p class="fa fa-h-square"> fa-h-square </p>
                                    <br/>
                                    <p class="fa fa-plus-square"> fa-plus-square </p>
                                    <br/>
                                </div>
                                
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>
{% endblock %}
